
body {
    margin: 15px;
    background-color: #181a1b;
}

body.white {
    background-color: white;
}

body.dark, .dark {
    background-color: #181a1b !important;
    color: #e8e6e3 !important;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    transition: background-color 500ms, color 50ms;
}

header, footer {
    height: 100px;

    background-color: #F0F0F0;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 6%) 1px 1px 4px 6px;
    margin-bottom: 20px;
}

header.dark, footer.dark,
.content.dark {
    color: #e8e6e3 !important;

    background-color: rgb(32, 35, 37) !important;
    box-shadow: rgb(0 0 0 / 6%) 1px 1px 4px 6px;
}

.content.dark h1, .content.dark h2, .content.dark h3,
.content.dark p, .content.dark a, .content.dark b,
.content.dark .home-photos, .content.dark .view-top,
.content.dark .view-top .sketchy-center, .content.dark .view-handler,
.content.dark .view-buttons, .content.dark .view-buttons div,
.content.dark .view-buttons div img,
.content.dark .list-photos {
    color: #e8e6e3 !important;

    background-color: transparent !important;
}

footer.dark h1, footer.dark h2, footer.dark a,
footer.dark p, footer.dark div {
    color: #e8e6e3 !important;

    background-color: transparent !important;
}

header.dark img, header.dark div {
    background-color: transparent !important;
}

header.dark h1, header.dark h2, header.dark a,
header.dark p {
    color: #e8e6e3 !important;

    background-color: transparent !important;
}

footer {
    height: 150px;
}

header div#desktopHeader {
    display: flex;
    justify-content: space-between;
}

header div#mobileHeader {
    display: flex;
    flex-direction: column;
}

header div#mobileHeader div#mobileHeaderTop {
    display: flex;
    justify-content: space-between;
}

header div#mobileHeader div#mobileHeaderBottom {
    position: absolute;
    top: 85px;
    display: flex;
    flex-direction: row;
    width: calc(100% - 70px);
    padding: 20px;
}

header div#mobileHeader div#mobileHeaderBottom menu {
    width: 100%;
    padding: 10px;
}

header a {
    margin-top: 40px;
    height: 40px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}

header .header-right a {
    height: 40px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    position: relative;
    top: 40px;
    cursor: pointer;
}

header #desktopHeader div a {
    height: 40px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    position: relative;
    bottom: 190px;
}

.link {
    color: black;
    text-decoration: none;
}

.active-btn, .link:hover, header a:hover {
    text-decoration: underline !important;
}

.header-right {
    margin-right: 20px;
}

header.mobile {
    height: 165px;
}

header img, footer img {
    position: relative;
    margin: 0;
    padding: 25px 25px;
    top: -80px;
}

header h1, footer h1 {
    margin: 0;
    padding: 25px 25px;
}

footer h2 {
    margin: 0;
    padding: 15px 15px 5px 25px;
}

footer div {
    display: flex;
    flex-direction: column;
}

footer div a {
    margin: 0;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0px 25px;
    color: black;
}

footer div p {
    margin: 0;
    padding: 0px 25px;
    color: black;
}

footer div p a {
    margin: 0;
    padding: 0%;
    color: black;
}

.content {
    background-color: #F0F0F0;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 6%) 1px 1px 4px 6px;
    padding: 10px;
    margin-bottom: 20px;
}

.content h1 {
    margin-bottom: 10px;
}

.content h3 {
    margin-top: 0px;
}

.center {
    text-align: center;
}

.view-button, .view-button.dark {
    background-color: #0098f0 !important;
    color: white;
    margin: 10px 100px;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;

    transition: background-color 500ms;

    border-radius: 5px;
}

.back-button, .back-button.dark {
    background-color: #0098f0 !important;
    color: white;
    margin: 10px;

    width: -moz-fit-content;
    width: fit-content;
    height: 25px;
    margin-top: 25px;

    padding: 10px 15px;
    cursor: pointer;

    transition: background-color 500ms;

    border-radius: 5px;
}

.view-button:hover, .view-button.dark:hover {
    background-color: #00a4f0 !important;
}

.home-photos, .list-photos {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-photos img {
    opacity: 0.5;
    border-radius: 5px;

    margin-right: 10px;
    margin-bottom: 10px;
    
    transition: opacity 500ms;
}

.home-photos.mobile img {
    opacity: 0.5;
    border-radius: 5px;

    margin-right: 10px;
    margin-bottom: 10px;
    
    transition: opacity 250ms;
}

.home-photos img:hover {
    opacity: 0.85;
}

.list-photos img {
    opacity: 0.85;
    border-radius: 5px;

    margin-right: 10px;
    margin-bottom: 10px;
    
    transition: opacity 500ms;
}

.list-photos img:hover {
    opacity: 0.95;
}

.view-handler {
    padding-left: 0%;
    margin-bottom: 10px;
}
.view-buttons {
    padding-left: 0%;
    margin-bottom: 10px;
    margin-left: 10px;
}

.photo {
    border-radius: 5px;
}

.photo-title {
    font-size: 38px;
    margin-bottom: 5px;
}
.photo-credit {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.photo-year {
    font-size: 16px;
    margin-top: 0px;
}

.view-top {
    display: flex;
    justify-content: space-between;
}

.sketchy-center {
    width: calc(50% + 55px);
}
