.body {
    background-color: rgb(75, 75, 75);
}

.h1 {
    text-align: center;
}

.content-div {
    background-color: rgb(200, 200, 200);
}

.header-link {
    color: white;
    vertical-align: middle;
}

.header-div {
    background-color: rgb(175, 175, 175);
}

.footer-div {
    color: rgb(125, 125, 125);
}

.footer-div a {
    color: white;
    text-align: center;
}

.footer-div h3 {
    color: white;
    text-align: center;
}
